#sessions {
    display: flex;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#displayButton {
    display: flex;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

#customerName {
    display: flex;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

#customerPhone {
    display: flex;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

#recommender {
    display: flex;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

#callInit {
    display: flex;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
}

#callAnswered {
    display: flex;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
}

#pressed {
    display: flex;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
}

#hangup {
    display: flex;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

#hangupSource {
    display: flex;
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
}

#hangupCause {
    display: flex;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
}